/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Bootstrap for grid and position helpers*/
@import "bootstrap/scss/bootstrap.scss";

$lightest-grey: #EFEFEF;
$white-af: #FFFFFF;

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $white-af;
}
